PySpark applications start with initializing SparkSession which is the entry point of PySpark as below.
-- In case of running it in PySpark shell via pyspark executable, the shell automatically creates the session in the variable spark for users.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

Reading data from .csv with pyspark

In [2]:
df = spark.read.csv("YelloTaxiData.csv", header=True)

Showing the csv read

In [3]:
df.show()

+-----------+-----------+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|RateCodeID0|RatecodeID1|VendorID|  dropoff_latitude| dropoff_longitude|extra|fare_amount|improvement_surcharge|mta_tax|passenger_count|payment_type|   pickup_latitude|  pickup_longitude|store_and_fwd_flag|tip_amount|tolls_amount|total_amount|tpep_dropoff_datetime|tpep_pickup_datetime|trip_distance|
+-----------+-----------+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|        1.0|       NULL|       1|  40.7823371887207|-73.97216033935547|  0.0|        5.0|                  0.3|    0.5|              1|           2|  40.7892951965332| -73.9666290283203|                 N|       0.0|         0.0|         5.8|  2015-01-09 12:58:40| 2015-01-09 12:54:55|          0.5|
|        1.0|       NULL|       1| 40.72048950195313|-73.94546508789062|  0.5|       12.5|                  0.3|    0.5|              1|           1| 40.72385025024415|-73.99256134033203|                 N|       2.0|         0.0|        15.8|  2015-01-13 23:19:17| 2015-01-13 23:09:04|          3.6|
|        1.0|       NULL|       1| 40.72136688232422|-73.99478149414062|  0.0|       14.5|                  0.3|    0.5|              2|           2| 40.74909973144531|-73.99195861816406|                 N|       0.0|         0.0|        15.3|  2015-01-25 17:37:55| 2015-01-25 17:17:28|          2.3|
|        1.0|       NULL|       1|               0.0|               0.0|  1.0|        4.0|                  0.3|    0.5|              1|           1|               0.0|               0.0|                 N|       1.0|         0.0|         6.8|  2015-01-22 19:00:38| 2015-01-22 18:57:09|          0.4|
|        1.0|       NULL|       2| 40.73711013793945|-73.99817657470702|  0.0|        4.5|                  0.3|    0.5|              1|           1|40.733741760253906| -73.9903793334961|                 N|       1.7|         0.0|         7.0|  2015-01-17 18:16:01| 2015-01-17 18:11:48|         0.48|
|        1.0|       NULL|       2|  40.7244987487793|-73.84691619873048|  1.0|       17.5|                  0.3|    0.5|              1|           1| 40.76897048950195|-73.86266326904298|                 N|      3.86|         0.0|       23.16|  2015-01-29 18:51:13| 2015-01-29 18:36:44|         5.62|
|        1.0|       NULL|       1| 40.72303009033203|-73.98271942138672|  0.5|        5.0|                  0.3|    0.5|              1|           1| 40.72935485839844| -73.9898681640625|                 N|      1.26|         0.0|        7.56|  2015-01-21 00:25:28| 2015-01-21 00:20:57|          0.7|
|        1.0|       NULL|       2|       40.75390625|-73.97749328613281|  0.5|        4.5|                  0.3|    0.5|              3|           2| 40.76168823242188| -73.9750442504883|                 N|       0.0|         0.0|         5.8|  2015-01-10 21:33:44| 2015-01-10 21:30:21|         0.69|
|        2.0|       NULL|       1|  40.6449089050293|-73.77810668945312|  0.0|       52.0|                  0.3|    0.5|              2|           1| 40.75905990600585| -73.9869384765625|                 N|     11.62|        5.33|       69.75|  2015-01-31 09:45:12| 2015-01-31 09:17:26|         17.4|
|        2.0|       NULL|       2|40.764610290527344| -73.9791488647461|  0.0|       52.0|                  0.3|    0.5|              1|           2| 40.64862823486328|-73.78453826904298|                 N|       0.0|         0.0|        52.8|  2015-01-31 16:23:13| 2015-01-31 15:39:10|        16.87|
|        1.0|       NULL|       2|  40.7690544128418|-73.95066833496094|  0.0|       10.5|                  0.3|    0.5|              1|           1| 40.76107025146485|-73.97318267822266|                 N|       2.1|         0.0|        13.4|  2015-01-20 15:52:04| 2015-01-20 15:38:17|         1.82|
|        1.0|       NULL|       1|40.789634704589844|-73.95272827148438|  0.0|       16.0|                  0.3|    0.5|              1|           1|40.755767822265625|-73.96480560302734|                 N|       4.2|         0.0|        21.0|  2015-01-08 12:03:55| 2015-01-08 11:40:40|          2.9|
|        1.0|       NULL|       2|40.800071716308594|-73.96825408935547|  0.0|        7.5|                  0.3|    0.5|              1|           1| 40.79354476928711|-73.96672058105469|                 N|       1.5|         0.0|         9.8|  2015-01-11 18:14:19| 2015-01-11 18:05:59|         1.16|
|        1.0|       NULL|       1| 40.77385330200195|-73.94639587402342|  0.0|        5.5|                  0.3|    0.5|              1|           1| 40.78022384643555|-73.95552062988281|                 N|       1.0|         0.0|         7.3|  2015-01-31 16:28:24| 2015-01-31 16:23:11|          0.9|
|        1.0|       NULL|       2|40.784446716308594|-73.95550537109375|  1.0|        4.0|                  0.3|    0.5|              2|           1| 40.78142929077149|-73.95833587646483|                 N|       1.5|         0.0|         7.3|  2015-01-30 16:06:10| 2015-01-30 16:03:36|         0.43|
|        1.0|       NULL|       2| 40.73830032348633|-73.98200225830078|  0.5|       12.0|                  0.3|    0.5|              1|           2|40.765846252441406|-73.99098205566406|                 N|       0.0|         0.0|        13.3|  2015-01-10 21:26:13| 2015-01-10 21:11:31|         2.96|
|        1.0|       NULL|       1|  40.7866439819336|-73.95265960693358|  1.0|       13.0|                  0.3|    0.5|              1|           1|40.774818420410156|-73.98805236816406|                 N|       1.0|         0.0|        15.8|  2015-01-08 19:27:28| 2015-01-08 19:10:48|          2.8|
|        1.0|       NULL|       2| 40.75226211547852|-73.97537994384766|  0.0|        7.0|                  0.3|    0.5|              5|           2| 40.76325988769531|-73.97801971435547|                 N|       0.0|         0.0|         7.8|  2015-01-03 16:56:01| 2015-01-03 16:48:21|         1.17|
|        1.0|       NULL|       1| 40.73289489746094|-73.99819946289062|  0.5|       11.0|                  0.3|    0.5|              1|           2| 40.72987365722656|-73.98089599609375|                 N|       0.0|         0.0|        12.3|  2015-01-25 01:16:52| 2015-01-25 01:01:22|          2.0|
|        1.0|       NULL|       1|               0.0|               0.0|  0.0|        3.5|                  0.3|    0.5|              2|           1|               0.0|               0.0|                 N|      1.25|         0.0|        5.55|  2015-01-11 19:52:03| 2015-01-11 19:49:58|          0.4|
+-----------+-----------+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
only showing top 20 rows

Printing Schema

In [4]:
df.printSchema()

root
 |-- RateCodeID0: string (nullable = true)
 |-- RatecodeID1: string (nullable = true)
 |-- VendorID: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- trip_distance: string (nullable = true)

In [5]:
#change the data type of the columns
from pyspark.sql.types import DoubleType, IntegerType, DateType 
df = df.withColumn("passenger_count", df["passenger_count"].cast(DoubleType()))
df = df.withColumn("trip_distance", df["trip_distance"].cast(DoubleType()))
df = df.withColumn("fare_amount", df["fare_amount"].cast(DoubleType()))
df = df.withColumn("extra", df["extra"].cast(DoubleType()))
df = df.withColumn("mta_tax", df["mta_tax"].cast(DoubleType()))
df = df.withColumn("tip_amount", df["tip_amount"].cast(DoubleType()))
df = df.withColumn("tolls_amount", df["tolls_amount"].cast(DoubleType()))
df = df.withColumn("improvement_surcharge", df["improvement_surcharge"].cast(DoubleType()))
df = df.withColumn("total_amount", df["total_amount"].cast(IntegerType()))
df = df.withColumn("payment_type", df["payment_type"].cast(IntegerType()))
df = df.withColumn("dropoff_latitude", df["dropoff_latitude"].cast(DoubleType()))
df = df.withColumn("dropoff_longitude", df["dropoff_longitude"].cast(DoubleType()))
df = df.withColumn("pickup_latitude", df["pickup_latitude"].cast(DoubleType()))
df = df.withColumn("pickup_longitude", df["pickup_longitude"].cast(DoubleType()))
df = df.withColumn("tpep_dropoff_datetime", df["tpep_dropoff_datetime"].cast(DateType()))
df = df.withColumn("tpep_pickup_datetime", df["tpep_pickup_datetime"].cast(DateType()))
df = df.withColumn("trip_distance", df["trip_distance"].cast(DoubleType()))

In [6]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
df

+-----------+-----------+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|RateCodeID0|RatecodeID1|VendorID|  dropoff_latitude| dropoff_longitude|extra|fare_amount|improvement_surcharge|mta_tax|passenger_count|payment_type|   pickup_latitude|  pickup_longitude|store_and_fwd_flag|tip_amount|tolls_amount|total_amount|tpep_dropoff_datetime|tpep_pickup_datetime|trip_distance|
+-----------+-----------+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|        1.0|       NULL|       1|  40.7823371887207|-73.97216033935547|  0.0|        5.0|                  0.3|    0.5|            1.0|           2|  40.7892951965332| -73.9666290283203|                 N|       0.0|         0.0|           5|           2015-01-09|          2015-01-09|          0.5|
|        1.0|       NULL|       1| 40.72048950195313|-73.94546508789062|  0.5|       12.5|                  0.3|    0.5|            1.0|           1| 40.72385025024415|-73.99256134033203|                 N|       2.0|         0.0|          15|           2015-01-13|          2015-01-13|          3.6|
|        1.0|       NULL|       1| 40.72136688232422|-73.99478149414062|  0.0|       14.5|                  0.3|    0.5|            2.0|           2| 40.74909973144531|-73.99195861816406|                 N|       0.0|         0.0|          15|           2015-01-25|          2015-01-25|          2.3|
|        1.0|       NULL|       1|               0.0|               0.0|  1.0|        4.0|                  0.3|    0.5|            1.0|           1|               0.0|               0.0|                 N|       1.0|         0.0|           6|           2015-01-22|          2015-01-22|          0.4|
|        1.0|       NULL|       2| 40.73711013793945|-73.99817657470702|  0.0|        4.5|                  0.3|    0.5|            1.0|           1|40.733741760253906| -73.9903793334961|                 N|       1.7|         0.0|           7|           2015-01-17|          2015-01-17|         0.48|
|        1.0|       NULL|       2|  40.7244987487793|-73.84691619873048|  1.0|       17.5|                  0.3|    0.5|            1.0|           1| 40.76897048950195|-73.86266326904298|                 N|      3.86|         0.0|          23|           2015-01-29|          2015-01-29|         5.62|
|        1.0|       NULL|       1| 40.72303009033203|-73.98271942138672|  0.5|        5.0|                  0.3|    0.5|            1.0|           1| 40.72935485839844| -73.9898681640625|                 N|      1.26|         0.0|           7|           2015-01-21|          2015-01-21|          0.7|
|        1.0|       NULL|       2|       40.75390625|-73.97749328613281|  0.5|        4.5|                  0.3|    0.5|            3.0|           2| 40.76168823242188| -73.9750442504883|                 N|       0.0|         0.0|           5|           2015-01-10|          2015-01-10|         0.69|
|        2.0|       NULL|       1|  40.6449089050293|-73.77810668945312|  0.0|       52.0|                  0.3|    0.5|            2.0|           1| 40.75905990600585| -73.9869384765625|                 N|     11.62|        5.33|          69|           2015-01-31|          2015-01-31|         17.4|
|        2.0|       NULL|       2|40.764610290527344| -73.9791488647461|  0.0|       52.0|                  0.3|    0.5|            1.0|           2| 40.64862823486328|-73.78453826904298|                 N|       0.0|         0.0|          52|           2015-01-31|          2015-01-31|        16.87|
|        1.0|       NULL|       2|  40.7690544128418|-73.95066833496094|  0.0|       10.5|                  0.3|    0.5|            1.0|           1| 40.76107025146485|-73.97318267822266|                 N|       2.1|         0.0|          13|           2015-01-20|          2015-01-20|         1.82|
|        1.0|       NULL|       1|40.789634704589844|-73.95272827148438|  0.0|       16.0|                  0.3|    0.5|            1.0|           1|40.755767822265625|-73.96480560302734|                 N|       4.2|         0.0|          21|           2015-01-08|          2015-01-08|          2.9|
|        1.0|       NULL|       2|40.800071716308594|-73.96825408935547|  0.0|        7.5|                  0.3|    0.5|            1.0|           1| 40.79354476928711|-73.96672058105469|                 N|       1.5|         0.0|           9|           2015-01-11|          2015-01-11|         1.16|
|        1.0|       NULL|       1| 40.77385330200195|-73.94639587402342|  0.0|        5.5|                  0.3|    0.5|            1.0|           1| 40.78022384643555|-73.95552062988281|                 N|       1.0|         0.0|           7|           2015-01-31|          2015-01-31|          0.9|
|        1.0|       NULL|       2|40.784446716308594|-73.95550537109375|  1.0|        4.0|                  0.3|    0.5|            2.0|           1| 40.78142929077149|-73.95833587646483|                 N|       1.5|         0.0|           7|           2015-01-30|          2015-01-30|         0.43|
|        1.0|       NULL|       2| 40.73830032348633|-73.98200225830078|  0.5|       12.0|                  0.3|    0.5|            1.0|           2|40.765846252441406|-73.99098205566406|                 N|       0.0|         0.0|          13|           2015-01-10|          2015-01-10|         2.96|
|        1.0|       NULL|       1|  40.7866439819336|-73.95265960693358|  1.0|       13.0|                  0.3|    0.5|            1.0|           1|40.774818420410156|-73.98805236816406|                 N|       1.0|         0.0|          15|           2015-01-08|          2015-01-08|          2.8|
|        1.0|       NULL|       2| 40.75226211547852|-73.97537994384766|  0.0|        7.0|                  0.3|    0.5|            5.0|           2| 40.76325988769531|-73.97801971435547|                 N|       0.0|         0.0|           7|           2015-01-03|          2015-01-03|         1.17|
|        1.0|       NULL|       1| 40.73289489746094|-73.99819946289062|  0.5|       11.0|                  0.3|    0.5|            1.0|           2| 40.72987365722656|-73.98089599609375|                 N|       0.0|         0.0|          12|           2015-01-25|          2015-01-25|          2.0|
|        1.0|       NULL|       1|               0.0|               0.0|  0.0|        3.5|                  0.3|    0.5|            2.0|           1|               0.0|               0.0|                 N|      1.25|         0.0|           5|           2015-01-11|          2015-01-11|          0.4|
+-----------+-----------+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
only showing top 20 rows

Viewing the columns

In [7]:
df.columns

['RateCodeID0',
 'RatecodeID1',
 'VendorID',
 'dropoff_latitude',
 'dropoff_longitude',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_latitude',
 'pickup_longitude',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'tpep_dropoff_datetime',
 'tpep_pickup_datetime',
 'trip_distance']

Selecting a column and showing the statistics summary

In [8]:
df.select('fare_amount','total_amount','tip_amount','trip_distance').describe().show()

+-------+------------------+------------------+------------------+------------------+
|summary|       fare_amount|      total_amount|        tip_amount|     trip_distance|
+-------+------------------+------------------+------------------+------------------+
|  count|           1446517|           1446517|           1446517|           1446517|
|   mean|12.913814970719313|15.512383193560808|1.6996653202140606| 12.39030648101611|
| stddev|12.846758195444355|15.946177034314989| 2.530122867462588|10062.647266617685|
|    min|            -230.0|              -230|              -5.0|               0.0|
|    max|            8010.0|              8010|             400.0|      1.20000015E7|
+-------+------------------+------------------+------------------+------------------+

Dropping columns

In [9]:
df = df.drop('RatecodeID1','RateCodeID0')

In [10]:
df.show()

+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|VendorID|  dropoff_latitude| dropoff_longitude|extra|fare_amount|improvement_surcharge|mta_tax|passenger_count|payment_type|   pickup_latitude|  pickup_longitude|store_and_fwd_flag|tip_amount|tolls_amount|total_amount|tpep_dropoff_datetime|tpep_pickup_datetime|trip_distance|
+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|       1|  40.7823371887207|-73.97216033935547|  0.0|        5.0|                  0.3|    0.5|            1.0|           2|  40.7892951965332| -73.9666290283203|                 N|       0.0|         0.0|           5|           2015-01-09|          2015-01-09|          0.5|
|       1| 40.72048950195313|-73.94546508789062|  0.5|       12.5|                  0.3|    0.5|            1.0|           1| 40.72385025024415|-73.99256134033203|                 N|       2.0|         0.0|          15|           2015-01-13|          2015-01-13|          3.6|
|       1| 40.72136688232422|-73.99478149414062|  0.0|       14.5|                  0.3|    0.5|            2.0|           2| 40.74909973144531|-73.99195861816406|                 N|       0.0|         0.0|          15|           2015-01-25|          2015-01-25|          2.3|
|       1|               0.0|               0.0|  1.0|        4.0|                  0.3|    0.5|            1.0|           1|               0.0|               0.0|                 N|       1.0|         0.0|           6|           2015-01-22|          2015-01-22|          0.4|
|       2| 40.73711013793945|-73.99817657470702|  0.0|        4.5|                  0.3|    0.5|            1.0|           1|40.733741760253906| -73.9903793334961|                 N|       1.7|         0.0|           7|           2015-01-17|          2015-01-17|         0.48|
|       2|  40.7244987487793|-73.84691619873048|  1.0|       17.5|                  0.3|    0.5|            1.0|           1| 40.76897048950195|-73.86266326904298|                 N|      3.86|         0.0|          23|           2015-01-29|          2015-01-29|         5.62|
|       1| 40.72303009033203|-73.98271942138672|  0.5|        5.0|                  0.3|    0.5|            1.0|           1| 40.72935485839844| -73.9898681640625|                 N|      1.26|         0.0|           7|           2015-01-21|          2015-01-21|          0.7|
|       2|       40.75390625|-73.97749328613281|  0.5|        4.5|                  0.3|    0.5|            3.0|           2| 40.76168823242188| -73.9750442504883|                 N|       0.0|         0.0|           5|           2015-01-10|          2015-01-10|         0.69|
|       1|  40.6449089050293|-73.77810668945312|  0.0|       52.0|                  0.3|    0.5|            2.0|           1| 40.75905990600585| -73.9869384765625|                 N|     11.62|        5.33|          69|           2015-01-31|          2015-01-31|         17.4|
|       2|40.764610290527344| -73.9791488647461|  0.0|       52.0|                  0.3|    0.5|            1.0|           2| 40.64862823486328|-73.78453826904298|                 N|       0.0|         0.0|          52|           2015-01-31|          2015-01-31|        16.87|
|       2|  40.7690544128418|-73.95066833496094|  0.0|       10.5|                  0.3|    0.5|            1.0|           1| 40.76107025146485|-73.97318267822266|                 N|       2.1|         0.0|          13|           2015-01-20|          2015-01-20|         1.82|
|       1|40.789634704589844|-73.95272827148438|  0.0|       16.0|                  0.3|    0.5|            1.0|           1|40.755767822265625|-73.96480560302734|                 N|       4.2|         0.0|          21|           2015-01-08|          2015-01-08|          2.9|
|       2|40.800071716308594|-73.96825408935547|  0.0|        7.5|                  0.3|    0.5|            1.0|           1| 40.79354476928711|-73.96672058105469|                 N|       1.5|         0.0|           9|           2015-01-11|          2015-01-11|         1.16|
|       1| 40.77385330200195|-73.94639587402342|  0.0|        5.5|                  0.3|    0.5|            1.0|           1| 40.78022384643555|-73.95552062988281|                 N|       1.0|         0.0|           7|           2015-01-31|          2015-01-31|          0.9|
|       2|40.784446716308594|-73.95550537109375|  1.0|        4.0|                  0.3|    0.5|            2.0|           1| 40.78142929077149|-73.95833587646483|                 N|       1.5|         0.0|           7|           2015-01-30|          2015-01-30|         0.43|
|       2| 40.73830032348633|-73.98200225830078|  0.5|       12.0|                  0.3|    0.5|            1.0|           2|40.765846252441406|-73.99098205566406|                 N|       0.0|         0.0|          13|           2015-01-10|          2015-01-10|         2.96|
|       1|  40.7866439819336|-73.95265960693358|  1.0|       13.0|                  0.3|    0.5|            1.0|           1|40.774818420410156|-73.98805236816406|                 N|       1.0|         0.0|          15|           2015-01-08|          2015-01-08|          2.8|
|       2| 40.75226211547852|-73.97537994384766|  0.0|        7.0|                  0.3|    0.5|            5.0|           2| 40.76325988769531|-73.97801971435547|                 N|       0.0|         0.0|           7|           2015-01-03|          2015-01-03|         1.17|
|       1| 40.73289489746094|-73.99819946289062|  0.5|       11.0|                  0.3|    0.5|            1.0|           2| 40.72987365722656|-73.98089599609375|                 N|       0.0|         0.0|          12|           2015-01-25|          2015-01-25|          2.0|
|       1|               0.0|               0.0|  0.0|        3.5|                  0.3|    0.5|            2.0|           1|               0.0|               0.0|                 N|      1.25|         0.0|           5|           2015-01-11|          2015-01-11|          0.4|
+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
only showing top 20 rows

In [11]:
num1 = df.filter(df.VendorID == 1).count()
num2 = df.filter(df.VendorID == 2).count()

In [12]:
if num1 > num2:
    print("Vendor 1 has more records")
else:
    print("Vendor 2 has more records")

Vendor 2 has more records

In [13]:
df.createOrReplaceTempView("tableA")
spark.sql("SELECT count(*)  as Total_Row from tableA").show()

+---------+
|Total_Row|
+---------+
|  1446517|
+---------+

In [14]:
spark.sql("Select * from tableA limit 10").show()

+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|VendorID|  dropoff_latitude| dropoff_longitude|extra|fare_amount|improvement_surcharge|mta_tax|passenger_count|payment_type|   pickup_latitude|  pickup_longitude|store_and_fwd_flag|tip_amount|tolls_amount|total_amount|tpep_dropoff_datetime|tpep_pickup_datetime|trip_distance|
+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|       1|  40.7823371887207|-73.97216033935547|  0.0|        5.0|                  0.3|    0.5|            1.0|           2|  40.7892951965332| -73.9666290283203|                 N|       0.0|         0.0|           5|           2015-01-09|          2015-01-09|          0.5|
|       1| 40.72048950195313|-73.94546508789062|  0.5|       12.5|                  0.3|    0.5|            1.0|           1| 40.72385025024415|-73.99256134033203|                 N|       2.0|         0.0|          15|           2015-01-13|          2015-01-13|          3.6|
|       1| 40.72136688232422|-73.99478149414062|  0.0|       14.5|                  0.3|    0.5|            2.0|           2| 40.74909973144531|-73.99195861816406|                 N|       0.0|         0.0|          15|           2015-01-25|          2015-01-25|          2.3|
|       1|               0.0|               0.0|  1.0|        4.0|                  0.3|    0.5|            1.0|           1|               0.0|               0.0|                 N|       1.0|         0.0|           6|           2015-01-22|          2015-01-22|          0.4|
|       2| 40.73711013793945|-73.99817657470702|  0.0|        4.5|                  0.3|    0.5|            1.0|           1|40.733741760253906| -73.9903793334961|                 N|       1.7|         0.0|           7|           2015-01-17|          2015-01-17|         0.48|
|       2|  40.7244987487793|-73.84691619873048|  1.0|       17.5|                  0.3|    0.5|            1.0|           1| 40.76897048950195|-73.86266326904298|                 N|      3.86|         0.0|          23|           2015-01-29|          2015-01-29|         5.62|
|       1| 40.72303009033203|-73.98271942138672|  0.5|        5.0|                  0.3|    0.5|            1.0|           1| 40.72935485839844| -73.9898681640625|                 N|      1.26|         0.0|           7|           2015-01-21|          2015-01-21|          0.7|
|       2|       40.75390625|-73.97749328613281|  0.5|        4.5|                  0.3|    0.5|            3.0|           2| 40.76168823242188| -73.9750442504883|                 N|       0.0|         0.0|           5|           2015-01-10|          2015-01-10|         0.69|
|       1|  40.6449089050293|-73.77810668945312|  0.0|       52.0|                  0.3|    0.5|            2.0|           1| 40.75905990600585| -73.9869384765625|                 N|     11.62|        5.33|          69|           2015-01-31|          2015-01-31|         17.4|
|       2|40.764610290527344| -73.9791488647461|  0.0|       52.0|                  0.3|    0.5|            1.0|           2| 40.64862823486328|-73.78453826904298|                 N|       0.0|         0.0|          52|           2015-01-31|          2015-01-31|        16.87|
+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+

In [15]:
spark.sql("Select VendorID, count(*) as Total_Rows from tableA group by VendorID").show()

+--------+----------+
|VendorID|Total_Rows|
+--------+----------+
|       1|    686686|
|       2|    759831|
+--------+----------+

In [16]:
spark.sql("Select distinct store_and_fwd_flag from tableA").show()

+------------------+
|store_and_fwd_flag|
+------------------+
|                 Y|
|                 N|
+------------------+

In [17]:
spark.sql("Select min(fare_amount) as Min_Fare, max(fare_amount) as Max_Fare, avg(fare_amount) as Avg_Fare from tableA").show()

+--------+--------+------------------+
|Min_Fare|Max_Fare|          Avg_Fare|
+--------+--------+------------------+
|  -230.0|  8010.0|12.913814970719313|
+--------+--------+------------------+

In [18]:
spark.sql("Select * from tableA where fare_amount < 0 and trip_distance > 0.5 limit 5").show()

+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|VendorID|  dropoff_latitude| dropoff_longitude|extra|fare_amount|improvement_surcharge|mta_tax|passenger_count|payment_type|   pickup_latitude|  pickup_longitude|store_and_fwd_flag|tip_amount|tolls_amount|total_amount|tpep_dropoff_datetime|tpep_pickup_datetime|trip_distance|
+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|       2| 40.73163986206055|-73.86598205566406|  0.0|       -4.0|                  0.3|   -0.5|            1.0|           3| 40.73107147216797|-73.86441040039062|                 N|       0.0|         0.0|          -4|           2015-01-24|          2015-01-24|         0.51|
|       2| 40.73354721069336|-73.98799133300781|  0.0|       -4.0|                  0.3|   -0.5|            2.0|           4|40.726707458496094|   -73.99169921875|                 N|       0.0|         0.0|          -4|           2015-01-11|          2015-01-11|         0.61|
|       2| 40.70967102050781|-74.00875091552734| -0.5|       -5.0|                  0.3|   -0.5|            6.0|           3|40.714519500732415|-74.00884246826173|                 N|       0.0|         0.0|          -6|           2015-01-18|          2015-01-18|         0.65|
|       2|40.756568908691406|-73.97901153564453| -1.0|       -6.5|                  0.3|   -0.5|            6.0|           4| 40.76694869995117|-73.97100830078125|                 N|       0.0|         0.0|          -8|           2015-01-14|          2015-01-14|         0.79|
|       2| 40.75033950805664|-73.99466705322266| -0.5|       -4.0|                  0.3|   -0.5|            1.0|           3| 40.74386978149415| -73.9994583129883|                 N|       0.0|         0.0|          -5|           2015-01-14|          2015-01-14|         0.52|
+--------+------------------+------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+------------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+

In [19]:
spark.sql("Select * from tableA where fare_amount = -230.0 limit 5").show()

+--------+-----------------+-----------------+-----+-----------+---------------------+-------+---------------+------------+-----------------+-----------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|VendorID| dropoff_latitude|dropoff_longitude|extra|fare_amount|improvement_surcharge|mta_tax|passenger_count|payment_type|  pickup_latitude| pickup_longitude|store_and_fwd_flag|tip_amount|tolls_amount|total_amount|tpep_dropoff_datetime|tpep_pickup_datetime|trip_distance|
+--------+-----------------+-----------------+-----+-----------+---------------------+-------+---------------+------------+-----------------+-----------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|       2|40.91621017456055|-74.0748291015625|  0.0|     -230.0|                 -0.3|   -0.5|            3.0|           3|40.91622543334961|-74.0748291015625|                 N|       0.0|         0.0|        -230|           2015-08-15|          2015-08-15|          0.0|
+--------+-----------------+-----------------+-----+-----------+---------------------+-------+---------------+------------+-----------------+-----------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+

In [22]:
import seaborn as sns
import matplotlib.pyplot as plt

# Sample the DataFrame to reduce its size
df_sample = df.sample(fraction=0.0001, seed=42)

# Convert the sampled PySpark DataFrame to Pandas DataFrame
df_ = df_sample.toPandas()

plt.figure(figsize=(30,15))
plt.plot(df_['fare_amount'])

ModuleNotFoundError: No module named 'distutils'

In [23]:
df.createOrReplaceTempView("tableB")
spark.sql("SELECT count(*) from tableB").show()

+--------+
|count(1)|
+--------+
| 1446517|
+--------+

In [57]:
# Clear the SparkSession cache and delete the underlying `sparkContext`
#spark.stop()

# SparkSQL

In [24]:
from pyspark.sql import SparkSession

# Create a new SparkSession
spark = SparkSession\
    .builder\
    .config('spark.app.name', 'learning_spark_sql')\
    .getOrCreate()

In [25]:
spark

In [26]:
# Clear the SparkSession cache and delete the underlying `sparkContext`
spark.stop()